<!DOCTYPE html>
<html lang="en">
<head>
<title>About us</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="My Podcast template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="../static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../static/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../static/styles/about.css">
<link rel="stylesheet" type="text/css" href="../static/styles/about_responsive.css">
    <script src="https://kit.fontawesome.com/2b5734d431.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header trans_400">

		<!-- Logo -->
		<div class="logo">
			<a href="#"><span>chill</span>box<img src="../static/images/play.png" alt=""></a>
		</div>

		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
						<nav class="main_nav">
							<ul class="d-flex flex-row align-items-start justify-content-start">
								<li><a href="/">Home</a></li>


								<li><a href="about">About</a></li>
								<li><a href="contact">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<!-- Submit & Social -->
		<div class="header_right d-flex flex-row align-items-start justify-content-start">

			<!-- Submit -->
			<div class="submit"><a href="contact">Submit a Request</a></div>

			<!-- Social -->
			<div class="social">
				<ul class="d-flex flex-row align-items-start justify-content-start">
					<li><a href="https://fb.com/emmanuel.mavely/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="https://instagram.com/e__.mz/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="https://soundcloud.com/emmanuelmavely"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
				</ul>
			</div>

			<!-- Hamburger -->
			<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>

		</div>
	</header>

	<!-- Menu -->

	<div class="menu">
		<div class="menu_content d-flex flex-column align-items-end justify-content-start">
			<ul class="menu_nav_list text-right">
				<li><a href="/">Home</a></li>
				<li><a href="about">About</a></li>
				<li><a href="contact">Contact</a></li>
			</ul>
			<div class="menu_extra d-flex flex-column align-items-end justify-content-start">
				<div class="menu_submit"><a href="#">Submit your work</a></div>
				<div class="social">
					<ul class="d-flex flex-row align-items-start justify-content-start">
						<li><a href="https://fb.com/emmanuel.mavely/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="https://instagram.com/e__.mz/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a href="https://soundcloud.com/emmanuelmavely"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../static/images/about.jpg" data-speed="0.8"></div>
		<div class="home_container d-flex flex-column align-items-center justify-content-center">
			<div class="home_content">
				<div class="home_title"><h1>about</h1></div>
			</div>
		</div>
	</div>

	<!-- Intro -->

	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="intro_content text-center">
						<div class="section_title text-center"><h1>About chill<span>box</span></h1></div>
						<div class="intro_text text-center">
							<p>This is a free website hosted using herokuapp. This is build on python micro-framework called Flask. The template for this website is from Colourlib. </p>
						</div>
						<div class="button_fill intro_button"><a href="#">read more</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Milestones -->

	<div class="milestones">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../static/images/milestones.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title light text-center"><h1>Fun Facts</h1></div>
				</div>
			</div>
			<div class="row milestones_row">

				<!-- Milestone -->
				<div class="col-xl-3 col-md-6">
					<div class="milestone text-center">
						<div class="milestone_content ml-auto mr-auto">
							<div class="milestone_counter" data-end-value="55126">0</div>
							<div class="milestone_icon"><img src="../static/images/alarm-clock.svg" alt="https://www.flaticon.com/authors/smashicons"></div>
						</div>
						<div class="milestone_title">Streamed Hours</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-xl-3 col-md-6">
					<div class="milestone text-center">
						<div class="milestone_content ml-auto mr-auto">
							<div class="milestone_counter" data-end-value="3520">0</div>
							<div class="milestone_icon"><img src="../static/images/speaker.svg" alt="https://www.flaticon.com/authors/smashicons"></div>
						</div>
						<div class="milestone_title">Audio Episodes</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-xl-3 col-md-6">
					<div class="milestone text-center">
						<div class="milestone_content ml-auto mr-auto">
							<div class="milestone_counter" data-end-value="2056">0</div>
							<div class="milestone_icon"><img src="../static/images/film.svg" alt="https://www.flaticon.com/authors/smashicons"></div>
						</div>
						<div class="milestone_title">Video Episodes</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-xl-3 col-md-6">
					<div class="milestone text-center">
						<div class="milestone_content ml-auto mr-auto">
							<div class="milestone_counter" data-end-value="25">0</div>
							<div class="milestone_icon"><img src="../static/images/television.svg" alt="https://www.flaticon.com/authors/smashicons"></div>
						</div>
						<div class="milestone_title">Documentaries</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- About -->

	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="about_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
						<div class="about_content">
							<div class="section_title"><h1>About Me</h1></div>
							<div class="about_text">
								<p>I am Emmanuel Mavely. I'm a tech enthusiast. This is my first attempt on hosting a website myself.
                                    In the past, I've tried myself some low-core stuffs on Weebly and Wix.
                                    When I got to know how flexible the HTML, CSS, JS, BootStrap, node.js and other python frameworks like jango and flask,
                                    I got curious into such stuff.</p>
							</div>
							<div class="social">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><a href="https://fb.com/emmanuel.mavely" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="https://instagram.com/e__.mz" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									<li><a href="https://soundcloud.com/emmanuelmavely" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="about_image"><img src="../static/images/emz_websize.jpg" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../static/images/newsletter.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title light text-center"><h1>Join my Newsletter</h1></div>
					<div class="newsletter_text text-center">
						<p>Stay on track with the latest information about our podcasts, guests, special guest and giveaways.</p>
					</div>
				</div>
			</div>
			<div class="row newsletter_row">
				<div class="col-lg-10 offset-lg-1">
					<div class="newsletter_form_container">
						<form action="#" class="newsletter_form d-flex flex-md-row flex-column align-items-md-start align-items-center justify-content-md-between justify-content-start" id="newsletter_form">
							<input type="email" class="newsletter_input" required="required">
							<button class="newsletter_button button_fill">subscribe now!</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row footer_logo_row">
				<div class="col d-flex flex-row align-items-center justify-content-center">
					<div class="logo">
						<a href="#"><span>chill</span>box<img src="../static/images/play.png" alt=""></a>
					</div>
				</div>
			</div>
			<div class="row footer_content_row">

				<!-- Tags -->
				<div class="col-lg-4">
					<div class="footer_title">Youtube Music</div>
					<div class="footer_list">
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_njlzDNTf31wiOaY2cfFTQ99VWuJVadT-E&feature=share&playnext=1/">
                            The Magic of Bollywood</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_lV-xfKYSFSL_5iW2e08ZA3x27htkEMnWY&feature=share&playnext=1">
                            Breathe Easy Thamizha</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_nkj7114547qr2wr_plIDCfn0MxADKqli0&feature=share&playnext=1">
                            Radar R&B</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_mH0Sl51d3R61c8JM0RPbXub8cEjd8AQeo&feature=share&playnext=1"
                        >EDM Hits</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_nT-zkEpc2x7AVVP0XV9JvHSfkFsOtGMR8&feature=share&playnext=1">
                            Malayalam</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_n0MAeVT6_GaWuo8ilkEQ6dLTKKqAd0GrU&feature=share&playnext=1">
                            Mollywood Retro</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_mO0_xBG0lhHcrEAyZbdvZdUWRjRy0E9I0&feature=share&playnext=1">
                            Vineeth Sreenivasan</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_krbBs7P2iEb30IODyVbiOXWyhZtAIX9Uk&feature=share&playnext=1">
                            Bollywood Unplugged</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_maRVIqvc2DS1d9mklbbV_Unht_q3qZH0U&feature=share&playnext=1">
                            Midnight Romance</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_mbxFCbi78aFuRwKZf0iN8ftIlmwjGLDxU&feature=share&playnext=1">
                            Blues Instrumentals</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_kLWIr9gv1XLlPbaDS965-Db4TrBoUTxQ8&feature=share&playnext=1">
                            Chroma</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_kBB8TusBmMBoxW692XFJvOrhLuGAp2v3s&feature=share&playnext=1">
                            Indian Classical</a></div></div>
					</div>
				</div>

				<!-- Latest Episodes -->
				<div class="col-lg-4">
					<div class="footer_title">Playlist Picks</div>
					<div class="latest_container">

						<!-- Latest -->
						<div class="latest">
							<div class="latest_title_container d-flex flex-row align-items-start justify-content-start">
								<a target="_blank" href="https://open.spotify.com/playlist/0l88QNwuL9LCTFjzrTlstQ?si=UpdANmyBTjCzjW_2qI3XcA">
									<div class="d-flex flex-row align-items-start justify-content-start">
										<div class="latest_play">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 714 714" style="enable-background:new 0 0 714 714;" xml:space="preserve">
												<g id="Play">
													<path d="M641.045,318.521L102,0C73.822,0,51,22.822,51,51v612c0,28.178,22.822,51,51,51l539.045-318.521      C654.661,387.422,663,372.81,663,357C663,341.19,654.661,326.579,641.045,318.521z M153,565.386V148.614L505.665,357      L153,565.386z" fill="#FFFFFF"/>
												</g>
											</svg>
										</div>
										<div class="latest_title_content">
											<div class="latest_title">Gaming Music 2020!</div>
										</div>
									</div>
								</a>
							</div>
							<div class="latest_episode_info">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><a href="#">Daily Updated</a></li>
									<li><a href="https://open.spotify.com/user/cldkid?si=oLYGOG-WRv23ZNGt6l5QCA" >CloudKid</a></li>
								</ul>
							</div>
						</div>

						<!-- Latest -->
						<div class="latest">
							<div class="latest_title_container d-flex flex-row align-items-start justify-content-start">
								<a target="_blank" href="https://open.spotify.com/playlist/6PrUPPajcmqjmU9AXOsua8?si=xoho0mBjQ42DyGa9X86v3Q">
									<div class="d-flex flex-row align-items-start justify-content-start">
										<div class="latest_play">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 714 714" style="enable-background:new 0 0 714 714;" xml:space="preserve">
												<g id="Play">
													<path d="M641.045,318.521L102,0C73.822,0,51,22.822,51,51v612c0,28.178,22.822,51,51,51l539.045-318.521      C654.661,387.422,663,372.81,663,357C663,341.19,654.661,326.579,641.045,318.521z M153,565.386V148.614L505.665,357      L153,565.386z" fill="#FFFFFF"/>
												</g>
											</svg>
										</div>
										<div class="latest_title_content">
											<div class="latest_title">Club Beats 2020</div>
										</div>
									</div>
								</a>
							</div>
							<div class="latest_episode_info">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><a href="#">Daily Updated</a></li>
									<li><a href="https://open.spotify.com/user/uuo0uc1mv6nr0fuuyfnf82iy4?si=TdXo_QbIQNGc6rldt1xcow">AESTHETE</a></li>
								</ul>
							</div>
						</div>

						<!-- Latest -->
						<div class="latest">
							<div class="latest_title_container d-flex flex-row align-items-start justify-content-start">
								<a href="https://open.spotify.com/playlist/3HrIecViOAMfWxquMe0fEk?si=2oxHy1J3Qgivb0bzBYRtYw" target="_blank">
									<div class="d-flex flex-row align-items-start justify-content-start">
										<div class="latest_play">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 714 714" style="enable-background:new 0 0 714 714;" xml:space="preserve">
												<g id="Play">
													<path d="M641.045,318.521L102,0C73.822,0,51,22.822,51,51v612c0,28.178,22.822,51,51,51l539.045-318.521      C654.661,387.422,663,372.81,663,357C663,341.19,654.661,326.579,641.045,318.521z M153,565.386V148.614L505.665,357      L153,565.386z" fill="#FFFFFF"/>
												</g>
											</svg>
										</div>
										<div class="latest_title_content">
											<div class="latest_title">NoMusicNoLife</div>
										</div>
									</div>
								</a>
							</div>
							<div class="latest_episode_info">
								<ul class="d-flex flex-row align-items-start justify-content-start">
                                    <li><a href="#">Spotify Playlist</a></li>
									<li><a href="https://open.spotify.com/user/e4wzsw6f29f29fgo0n7rb85id?si=ZXp18r2jT3qeBj1wtwWO0Q" target="_blank">emz</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>

				<!-- Gallery -->
				<div class="col-lg-4">
					<div class="footer_title">Instagram</div>
					<div class="gallery d-flex flex-row align-items-start justify-content-start flex-wrap">

						<!-- Gallery Item -->
						<div class="gallery_item">
							<a class="colorbox" target=_blank target="_blank" href="https://www.instagram.com/p/B_9oJtoliVc/"><img src="../static/images/gallery_1.jpg" alt=""></a>
						</div>

						<!-- Gallery Item -->
						<div class="gallery_item">
							<a class="colorbox" target=_blank target="_blank" href="https://www.instagram.com/p/CAauQzXFpxP/"><img src="../static/images/gallery_2.jpg" alt=""></a>
						</div>

						<!-- Gallery Item -->
						<div class="gallery_item">
							<a class="colorbox" target=_blank target="_blank" href="https://www.instagram.com/p/CAFJadhlTnR/"><img src="../static/images/gallery_3.jpg" alt=""></a>
						</div>

						<!-- Gallery Item -->
						<div class="gallery_item">
							<a class="colorbox" target=_blank target="_blank" href="https://www.instagram.com/p/CBan0FJg1Ag/"><img src="../static/images/gallery_4.jpg" alt=""></a>
						</div>

						<!-- Gallery Item -->
						<div class="gallery_item">
							<a class="colorbox" target=_blank target="_blank" href="https://www.instagram.com/p/CBS5g6wlg7n/"><img src="../static/images/gallery_5.jpg" alt=""></a>
						</div>

					</div>
				</div>
			</div>
			<div class="row footer_social_row">
				<div class="col">
					<div class="footer_social">
						<ul class="d-flex flex-row align-items-center justify-content-center">
							<li><a target="_blank" href="https://facebook.com/emmanuel.mavely/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a target="_blank" href="https://instagram.com/e__.mz/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a target="_blank" href="https://soundcloud.com/emmanuelmavely"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

<br><br><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is hosted by Emmanuel Mavely using Python Flask and Template is used from<i class="fa fa-heart-o" aria-hidden="true"></i> by <a target="_blank" href="https://colorlib.com/" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

		</div>
	</footer>
</div>

<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/styles/bootstrap-4.1.2/popper.js"></script>
<script src="../static/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="../static/plugins/greensock/TweenMax.min.js"></script>
<script src="../static/plugins/greensock/TimelineMax.min.js"></script>
<script src="../static/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="../static/plugins/greensock/animation.gsap.min.js"></script>
<script src="../static/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="../static/plugins/easing/easing.js"></script>
<script src="../static/plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="../static/plugins/progressbar/progressbar.min.js"></script>
<script src="../static/plugins/parallax-js-master/parallax.min.js"></script>
<script src="../static/js/custom.js"></script>