<!DOCTYPE html>
<html lang="en">
<head>
<title>ChillBox</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="My Podcast template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="../static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../static/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../static/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="../static/styles/responsive.css">
</head>
<body>

<div class="super_container">

	<!-- Header -->

	<header class="header trans_400">

		<!-- Logo -->
		<div class="logo">
			<a href="#"><span>chill</span>box<img src="../static/images/play.png" alt=""></a>
		</div>

		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
						<nav class="main_nav">
							<ul class="d-flex flex-row align-items-start justify-content-start">
								<li><a href="/">Home</a></li>


								<li><a href="about">About</a></li>
								<li><a href="contact">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<!-- Submit & Social -->
		<div class="header_right d-flex flex-row align-items-start justify-content-start">

			<!-- Submit -->
			<div class="submit"><a href="contact">Submit a Request</a></div>
			
			<!-- Social -->
			<div class="social">
				<ul class="d-flex flex-row align-items-start justify-content-start">
					<li><a target="_blank" href="https://fb.com/emmanuel.mavely/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a target="_blank" href="https://instagram.com/e__.mz/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a target="_blank" href="https://soundcloud.com/emmanuelmavely"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
				</ul>
			</div>

			<!-- Hamburger -->
			<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
			
		</div>
	</header>

	<!-- Menu -->

	<div class="menu">
		<div class="menu_content d-flex flex-column align-items-end justify-content-start">
			<ul class="menu_nav_list text-right">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
			<div class="menu_extra d-flex flex-column align-items-end justify-content-start">
				<div class="menu_submit"><a href="#">Submit your work</a></div>
				<div class="social">
					<ul class="d-flex flex-row align-items-start justify-content-start">
						<li><a target="_blank" href="https://fb.com/emmanuel.mavely/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https;//instagram.com/e__.mz/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://soundcloud.com/emmanuelmavely"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>



	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url(../static/images/index.jpg)"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="tags">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><a target="_blank" href="https://youtube.com/trending">Youtube Trending</a></li>
									<li><a target="_blank" href="https://open.spotify.com/playlist/37i9dQZEVXbMDoHDwVN2tF?si=by6mCq9xQHyX_65Oh_78tQ">World Top | Spotify Hits</a></li>
								</ul>
							</div>
							<div class="home_title"><h1>Today's top hit</h1></div>
							<div class="home_subtitle">Check out the latest #1 hit streaming in your locale. Share with your friends and get chilled!</div>
							<div class="track_info">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><a href="#">October 3, 2020</a></li>
									<li><a href="#">Music</a></li>


								</ul>
							</div>
							<div class="track track_home">
								<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/296783386&color=%23303a2e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/bejoy-varghese" title="Malayalam New Hit Songs ✅" target="_blank" style="color: #cccccc; text-decoration: none;">Malayalam New Hit Songs ✅</a> · <a href="https://soundcloud.com/bejoy-varghese/lailakame-ezra" title="Lailakame - Ezra" target="_blank" style="color: #cccccc; text-decoration: none;">Lailakame - Ezra</a></div>
							</div>
							<div class="button_border home_button trans_200"><a href="#">More Info</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Shows -->

	<div class="shows">
		<div class="container">
			<div class="row shows_row">
				
				<!-- Show -->
				<div class="col-lg-4">
					<div class="show">
						<div class="show_image">
							<a target="_blank" href="https://open.spotify.com/playlist/37i9dQZEVXbMDoHDwVN2tF?si=by6mCq9xQHyX_65Oh_78tQ">
								<img src="../static/images/top_global.png" alt="https://unsplash.com/@icons8">
							</a>
							<div class="show_tags">
								<div class="tags">
									<ul class="d-flex flex-row align-items-start justify-content-start">
										<li><a href="#">Music</a></li>
									</ul>
								</div>
							</div>
							<div class="show_play_icon"><img src="../static/images/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
						</div>
						<div class="show_content">
							<div class="show_date"><a href="#">Today</a></div>
							<div class="show_title"><a target="_blank" href="https://open.spotify.com/playlist/37i9dQZEVXbMDoHDwVN2tF?si=by6mCq9xQHyX_65Oh_78tQ">Global Top 50 Hits</a></div>
							<div class="show_info d-flex flex-row align-items-start justify-content-start">
								<div class="show_fav d-flex flex-row align-items-center justify-content-start">
									<div class="show_fav_icon show_info_icon"><img class="svg" src="../static/images/heart.svg" alt=""></div>
									<div class="show_fav_count">2371</div>
								</div>
								<div class="show_comments">
									<a href="#">
										<div class="d-flex flex-row align-items-center justify-content-start">
											<div class="show_comments_icon show_info_icon"><img class="svg" src="../static/images/speech-bubble.svg" alt=""></div>
											<div class="show_comments_count">88 Comments</div>
										</div>
									</a>	
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Show -->
				<div class="col-lg-4">
					<div class="show">
						<div class="show_image">
							<a target="_blank" href="https://open.spotify.com/playlist/37i9dQZEVXbLZ52XmnySJg?si=vO0ex6J8RnmBwWHpwhxPcg">
								<img src="../static/images/top_india.png" alt="https://unsplash.com/@pawel_czerwinski">
							</a>
							<div class="show_tags">
								<div class="tags">
									<ul class="d-flex flex-row align-items-start justify-content-start">
										<li><a href="#">India</a></li>
									</ul>
								</div>
							</div>
							<div class="show_play_icon"><img src="../static/images/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
						</div>
						<div class="show_content">
							<div class="show_date"><a href="#">Today</a></div>
							<div class="show_title"><a target="_blank" href="https://open.spotify.com/playlist/37i9dQZEVXbLZ52XmnySJg?si=vO0ex6J8RnmBwWHpwhxPcg">India Top 50</a></div>
							<div class="show_info d-flex flex-row align-items-start justify-content-start">
								<div class="show_fav d-flex flex-row align-items-center justify-content-start">
									<div class="show_fav_icon show_info_icon"><img class="svg" src="../static/images/heart.svg" alt=""></div>
									<div class="show_fav_count">560</div>
								</div>
								<div class="show_comments">
									<a href="#">
										<div class="d-flex flex-row align-items-center justify-content-start">
											<div class="show_comments_icon show_info_icon"><img class="svg" src="../static/images/speech-bubble.svg" alt=""></div>
											<div class="show_comments_count">40 Comments</div>
										</div>
									</a>	
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Show -->
				<div class="col-lg-4">
					<div class="show">
						<div class="show_image">
							<a target="_blank" href="https://open.spotify.com/playlist/37i9dQZEVXbK4NvPi6Sxit?si=WYBC9Fs8TQmIqinw45Cj1Q">
								<img src="../static/images/viral_india.png" alt="https://unsplash.com/@trevcole">
							</a>
							<div class="show_tags">
								<div class="tags">
									<ul class="d-flex flex-row align-items-start justify-content-start">
										<li><a href="#">Music</a></li>
									</ul>
								</div>
							</div>
							<div class="show_play_icon"><img src="../static/images/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
						</div>
						<div class="show_content">
							<div class="show_date"><a href="#">Today</a></div>
							<div class="show_title"><a target="_blank" href="https://open.spotify.com/playlist/37i9dQZEVXbK4NvPi6Sxit?si=WYBC9Fs8TQmIqinw45Cj1Q">India Viral 50</a></div>
							<div class="show_info d-flex flex-row align-items-start justify-content-start">
								<div class="show_fav d-flex flex-row align-items-center justify-content-start">
									<div class="show_fav_icon show_info_icon"><img class="svg" src="../static/images/heart.svg" alt=""></div>
									<div class="show_fav_count">450</div>
								</div>
								<div class="show_comments">
									<a href="#">
										<div class="d-flex flex-row align-items-center justify-content-start">
											<div class="show_comments_icon show_info_icon"><img class="svg" src="../static/images/speech-bubble.svg" alt=""></div>
											<div class="show_comments_count">25 Comments</div>
										</div>
									</a>	
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col text-center">
					<div class="button_fill shows_button"><a target="_blank" href="https://open.spotify.com/genre/charts-home-apac-latam">browse more</a></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Bi Weekly -->

	<div class="weekly">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../static/images/weekly.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row row-eq-height">
				
				<!-- Weekly Content -->
				<div class="col-lg-6">
					<div class="weekly_content d-flex flex-column align-items-start justify-content-lg-center justify-content-start">
						<div>
									<div class="weekly_title"><h1>New Music Friday</h1></div>
							<div class="weekly_text">
								<p>This is the very best in new music around the world.</p>
							</div>
							<div class="shops d-flex flex-row align-items-start justify-content-start flex-wrap">


								<div class="button_border"><a target="_blank" href="https://open.spotify.com/playlist/37i9dQZF1DWXJfnUiYjUKT?si=Ym92G1DEQKqnvWKLvOgiBw">Spotify</a></div>

							</div>
						</div>
					</div>
				</div>
				<!-- Weekly Image -->
				<div class="col-lg-6">
					<div class="weekly_image">
						<a target="_blank" href="https://open.spotify.com/playlist/37i9dQZF1DWXJfnUiYjUKT?si=Ym92G1DEQKqnvWKLvOgiBw"><img src="../static/images/New%20Music%20Friday.png" alt=""></a>
						<div class="logo">
							<a href="#" class="d-flex flex-row"><span>chill</span>box<div><img src="../static/images/play_2.png" alt=""></div></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Shows 2 -->

	<div class="shows_2">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="shows_2_title">By Category</div>
				</div>
			</div>
			<div class="row shows_2_row">
				
				<!-- Show -->
				<div class="col-xl-3 col-md-6">
					<div class="show">
						<div class="show_image">
							<a target="_blank" href="https://open.spotify.com/playlist/37i9dQZF1DWWQRwui0ExPn/">
								<img src="../static/images/lofi%20beats.png" alt="https://unsplash.com/@h4rd3n">
								<div class="show_play_icon"><img src="../static/images/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
								<div class="show_title_2">Lo-Fi Beats</div>
							</a>
							<div class="show_tags">
								<div class="tags">
									<ul class="d-flex flex-row align-items-start justify-content-start">
										<li><a href="#">Focus</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Show -->
				<div class="col-xl-3 col-md-6">
					<div class="show">
						<div class="show_image">
							<a target="_blank" href="https://open.spotify.com/playlist/37i9dQZF1DX3rxVfibe1L0/">
								<img src="../static/images/mood%20booster.png" alt="https://unsplash.com/@gohobo">
								<div class="show_play_icon"><img src="../static/images/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
								<div class="show_title_2">Mood Booster</div>
							</a>
							<div class="show_tags">
								<div class="tags">
									<ul class="d-flex flex-row align-items-start justify-content-start">
										<li><a href="#">Focus</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Show -->
				<div class="col-xl-3 col-md-6">
					<div class="show">
						<div class="show_image">
							<a target="_blank" href="https://open.spotify.com/playlist/37i9dQZF1DWVrtsSlLKzro/">
								<img src="../static/images/sad%20beats.png" alt="https://unsplash.com/@zacharykeimig">
								<div class="show_play_icon"><img src="../static/images/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
								<div class="show_title_2">Sad Beats</div>
							</a>
							<div class="show_tags">
								<div class="tags">
									<ul class="d-flex flex-row align-items-start justify-content-start">
										<li><a href="#">Mood</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Show -->
				<div class="col-xl-3 col-md-6">
					<div class="show">
						<div class="show_image">
							<a target="_blank" href="https://open.spotify.com/playlist/37i9dQZF1DWSRc3WJklgBs">
								<img src="../static/images/Heart%20Beats.png" alt="https://unsplash.com/@bkview">
								<div class="show_play_icon"><img src="../static/images/play.svg" alt="https://www.flaticon.com/authors/cole-bemis"></div>
								<div class="show_title_2">Heart Beats</div>
							</a>
							<div class="show_tags">
								<div class="tags">
									<ul class="d-flex flex-row align-items-start justify-content-start">
										<li><a href="#">Mood</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col text-center">
					<div class="button_fill shows_2_button"><a target="_blank" href="https://open.spotify.com/genre/programming-local-strategic-playlists">browse more genres</a></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row footer_logo_row">
				<div class="col d-flex flex-row align-items-center justify-content-center">
					<div class="logo">
						<a href="#"><span>chill</span>box<img src="../static/images/play.png" alt=""></a>
					</div>
				</div>
			</div>
			<div class="row footer_content_row">
				
				<!-- Tags -->
				<div class="col-lg-4">
					<div class="footer_title">Youtube Music</div>
					<div class="footer_list">
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_njlzDNTf31wiOaY2cfFTQ99VWuJVadT-E&feature=share&playnext=1/">
                            The Magic of Bollywood</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_lV-xfKYSFSL_5iW2e08ZA3x27htkEMnWY&feature=share&playnext=1">
                            Breathe Easy Thamizha</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_nkj7114547qr2wr_plIDCfn0MxADKqli0&feature=share&playnext=1">
                            Radar R&B</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_mH0Sl51d3R61c8JM0RPbXub8cEjd8AQeo&feature=share&playnext=1"
                        >EDM Hits</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_nT-zkEpc2x7AVVP0XV9JvHSfkFsOtGMR8&feature=share&playnext=1">
                            Malayalam</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_n0MAeVT6_GaWuo8ilkEQ6dLTKKqAd0GrU&feature=share&playnext=1">
                            Mollywood Retro</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_mO0_xBG0lhHcrEAyZbdvZdUWRjRy0E9I0&feature=share&playnext=1">
                            Vineeth Sreenivasan</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_krbBs7P2iEb30IODyVbiOXWyhZtAIX9Uk&feature=share&playnext=1">
                            Bollywood Unplugged</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_maRVIqvc2DS1d9mklbbV_Unht_q3qZH0U&feature=share&playnext=1">
                            Midnight Romance</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_mbxFCbi78aFuRwKZf0iN8ftIlmwjGLDxU&feature=share&playnext=1">
                            Blues Instrumentals</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_kLWIr9gv1XLlPbaDS965-Db4TrBoUTxQ8&feature=share&playnext=1">
                            Chroma</a></div></div>
						<div><div><a target="_blank" href="https://music.youtube.com/playlist?list=RDCLAK5uy_kBB8TusBmMBoxW692XFJvOrhLuGAp2v3s&feature=share&playnext=1">
                            Indian Classical</a></div></div>
					</div>
				</div>

				<!-- Latest Episodes -->
				<div class="col-lg-4">
					<div class="footer_title">Playlist Picks</div>
					<div class="latest_container">
						
						<!-- Latest -->
						<div class="latest">
							<div class="latest_title_container d-flex flex-row align-items-start justify-content-start">
								<a target="_blank" href="https://open.spotify.com/playlist/0l88QNwuL9LCTFjzrTlstQ?si=UpdANmyBTjCzjW_2qI3XcA">
									<div class="d-flex flex-row align-items-start justify-content-start">
										<div class="latest_play">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 714 714" style="enable-background:new 0 0 714 714;" xml:space="preserve">
												<g id="Play">
													<path d="M641.045,318.521L102,0C73.822,0,51,22.822,51,51v612c0,28.178,22.822,51,51,51l539.045-318.521      C654.661,387.422,663,372.81,663,357C663,341.19,654.661,326.579,641.045,318.521z M153,565.386V148.614L505.665,357      L153,565.386z" fill="#FFFFFF"/>
												</g>
											</svg>
										</div>
										<div class="latest_title_content">
											<div class="latest_title">Gaming Music 2020!</div>
										</div>
									</div>
								</a>
							</div>
							<div class="latest_episode_info">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><a href="#">Daily Updated</a></li>
									<li><a href="https://open.spotify.com/user/cldkid?si=oLYGOG-WRv23ZNGt6l5QCA" >CloudKid</a></li>
								</ul>
							</div>
						</div>

						<!-- Latest -->
						<div class="latest">
							<div class="latest_title_container d-flex flex-row align-items-start justify-content-start">
								<a target="_blank" href="https://open.spotify.com/playlist/6PrUPPajcmqjmU9AXOsua8?si=xoho0mBjQ42DyGa9X86v3Q">
									<div class="d-flex flex-row align-items-start justify-content-start">
										<div class="latest_play">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 714 714" style="enable-background:new 0 0 714 714;" xml:space="preserve">
												<g id="Play">
													<path d="M641.045,318.521L102,0C73.822,0,51,22.822,51,51v612c0,28.178,22.822,51,51,51l539.045-318.521      C654.661,387.422,663,372.81,663,357C663,341.19,654.661,326.579,641.045,318.521z M153,565.386V148.614L505.665,357      L153,565.386z" fill="#FFFFFF"/>
												</g>
											</svg>
										</div>
										<div class="latest_title_content">
											<div class="latest_title">Club Beats 2020</div>
										</div>
									</div>
								</a>
							</div>
							<div class="latest_episode_info">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><a href="#">Daily Updated</a></li>
									<li><a href="https://open.spotify.com/user/uuo0uc1mv6nr0fuuyfnf82iy4?si=TdXo_QbIQNGc6rldt1xcow">AESTHETE</a></li>
								</ul>
							</div>
						</div>

						<!-- Latest -->
						<div class="latest">
							<div class="latest_title_container d-flex flex-row align-items-start justify-content-start">
								<a href="https://open.spotify.com/playlist/3HrIecViOAMfWxquMe0fEk?si=2oxHy1J3Qgivb0bzBYRtYw" target="_blank">
									<div class="d-flex flex-row align-items-start justify-content-start">
										<div class="latest_play">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 714 714" style="enable-background:new 0 0 714 714;" xml:space="preserve">
												<g id="Play">
													<path d="M641.045,318.521L102,0C73.822,0,51,22.822,51,51v612c0,28.178,22.822,51,51,51l539.045-318.521      C654.661,387.422,663,372.81,663,357C663,341.19,654.661,326.579,641.045,318.521z M153,565.386V148.614L505.665,357      L153,565.386z" fill="#FFFFFF"/>
												</g>
											</svg>
										</div>
										<div class="latest_title_content">
											<div class="latest_title">NoMusicNoLife</div>
										</div>
									</div>
								</a>
							</div>
							<div class="latest_episode_info">
								<ul class="d-flex flex-row align-items-start justify-content-start">
                                    <li><a href="#">Spotify Playlist</a></li>
									<li><a href="https://open.spotify.com/user/e4wzsw6f29f29fgo0n7rb85id?si=ZXp18r2jT3qeBj1wtwWO0Q" target="_blank">emz</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>

				<!-- Gallery -->
				<div class="col-lg-4">
					<div class="footer_title">Instagram</div>
					<div class="gallery d-flex flex-row align-items-start justify-content-start flex-wrap">
						
						<!-- Gallery Item -->
						<div class="gallery_item">
							<a class="colorbox" target=_blank target="_blank" href="https://www.instagram.com/p/B_9oJtoliVc/"><img src="../static/images/gallery_1.jpg" alt=""></a>
						</div>

						<!-- Gallery Item -->
						<div class="gallery_item">
							<a class="colorbox" target=_blank target="_blank" href="https://www.instagram.com/p/CAauQzXFpxP/"><img src="../static/images/gallery_2.jpg" alt=""></a>
						</div>

						<!-- Gallery Item -->
						<div class="gallery_item">
							<a class="colorbox" target=_blank target="_blank" href="https://www.instagram.com/p/CAFJadhlTnR/"><img src="../static/images/gallery_3.jpg" alt=""></a>
						</div>

						<!-- Gallery Item -->
						<div class="gallery_item">
							<a class="colorbox" target=_blank target="_blank" href="https://www.instagram.com/p/CBan0FJg1Ag/"><img src="../static/images/gallery_4.jpg" alt=""></a>
						</div>

						<!-- Gallery Item -->
						<div class="gallery_item">
							<a class="colorbox" target=_blank target="_blank" href="https://www.instagram.com/p/CBS5g6wlg7n/"><img src="../static/images/gallery_5.jpg" alt=""></a>
						</div>

					</div>
				</div>
			</div>
			<div class="row footer_social_row">
				<div class="col">
					<div class="footer_social">
						<ul class="d-flex flex-row align-items-center justify-content-center">
							<li><a target="_blank" href="https://facebook.com/emmanuel.mavely/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a target="_blank" href="https://instagram.com/e__.mz/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a target="_blank" href="https://soundcloud.com/emmanuelmavely"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

<br><br><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is hosted by Emmanuel Mavely using Python Flask and Template is used from<i class="fa fa-heart-o" aria-hidden="true"></i> by <a target="_blank" href="https://colorlib.com/" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

		</div>
	</footer>
</div>

<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/styles/bootstrap-4.1.2/popper.js"></script>
<script src="../static/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="../static/plugins/greensock/TweenMax.min.js"></script>
<script src="../static/plugins/greensock/TimelineMax.min.js"></script>
<script src="../static/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="../static/plugins/greensock/animation.gsap.min.js"></script>
<script src="../static/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="../static/plugins/easing/easing.js"></script>
<script src="../static/plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="../static/plugins/progressbar/progressbar.min.js"></script>
<script src="../static/plugins/parallax-js-master/parallax.min.js"></script>
<script src="../static/js/custom.js"></script>
</body>
</html>